<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>基于Asp.net的简易电商项目</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
    <style>
        .row {
            margin-right: 0;
            margin-left: 0;
        }
    </style>
</head>
<body>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="margin-bottom:60px">
            <nav class="nav">
                <a class="nav-link active" asp-controller="Web" asp-action="Index">购物</a>
                <a class="nav-link" asp-controller="Web" asp-action="TypeManager">类别管理</a>
                <a class="nav-link" asp-controller="Web" asp-action="GoodsManager">商品管理</a>
                <a class="nav-link" asp-controller="Web" asp-action="OrderManager">订单管理</a>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript" src="~/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.bundle.min.js"></script>
</body>
</html>